.grid-row {
    display: flex;
    flex-direction: column;
    margin: 0 0 5px 0;
}

.grid-cell {
    flex: 1;
    padding: 5px;
}

@media all and ( min-width: 480px ) {
      .grid-row-sm {
          flex-direction: row;
      }
}

@media all and ( min-width: 720px ) {

      .grid-row-md {
          flex-direction: row;
      }

}

@media all and ( min-width: 960px ) {
      .grid-row-lg {
          flex-direction: row;
      }
}
